.nav-link-container {
  padding: 15px 0px 0px 25px;
  background-color: transparent;
  display: flex;
  gap: 10px;

  .nav-link {
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    background-color: #f5efe5ff;
    border-radius: 0.75rem;

    &.active {
      background-color: #4b4b4b;
      color: white;
    }
  }
}
