@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$bg-field: #f8f7f6ff;
$bg-header: #f5efe5ff;

.form-control {
  background-color: $bg-field;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #4b4b4b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-size: calc(10px + 2vmin);
  background-color: $bg-header;
}

nav a {
  color: #000;
  text-decoration: underline;
  &.logout-link {
    text-decoration: none;
    font-size: 14px;
  }
  &.active {
    color: #61dafb;
    text-decoration: none;
  }
}

ul {
  margin-top: 0;
  list-style-type: none;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

.role-container a {
  margin-left: 20px;
  margin-right: 20px;
}
