.fab {
  background-color: #f5efe5ff;
  border: 1px solid black;
}

.button-container {
  z-index: 1;
  position: fixed;
  bottom: 80px;
  left: 80px;
}

.create-auction-container {
  padding: 15px 25px;
  .list-group {
    .list-group-item {
      background-color: #f8f7f6;
      margin: 10px 0;
      border: 2px solid #ddd;
      border-radius: 0.75rem;
      transition:
        box-shadow 0.2s ease-in-out,
        transform 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
      }

      .h3,
      .fw-bold {
        font-weight: 700;
      }

      .item {
        margin-bottom: 0;
      }

      .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
